body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}

h2,
h3,
h4{
    margin: 0;
    padding: 10px;
}

a{
    color: seashell;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header Section */

header{
    width: 100%;
    height: 69px;
    position: fixed;
    border-bottom: 1px solid seashell;
    align-items: center;
    background: black;
    z-index: 1;
}

header img{
    height: 50px;
    padding-left: 10px;
}

nav{
    text-align: right;
    flex-grow: 1;
}

nav span{
    margin: 0 8px;
}

/* Main section */

.main{
    width:1200px;
    margin: auto;
}

/* Mission Section */

#mission{
    height: 700px;
    background: url("./assets/img-mission-background.webp");
    
}

#mission .content{
    background: black;
    width: 100%;
    margin: auto;
}

/* Store Section */
#store{
    width: 1000px;
    margin: 0 auto;
}

.item img{
    height: 200px;
    margin: 10px;
}

.item div{
    font-weight: bold;
}

/* Locations Section */

#locations{
    background: url("./assets/locations.webp");
    background-position: center;
    height: 500px;
    align-items: center;
}

.box{
    display: inline-flex;
    height: 300px;
    width: 300px;
    background: black;
    
}